﻿<h1>Test Saga</h1>


<div>
    <div>
        <b>Reply To Sender</b>
        <input data-bind="value:Message"/>
        <button data-bind="click:SendMessage">Send Message</button>
    </div>
    <br/><br/>
    <hr/>
    <div>
        <b>Recieved Messages</b>
    </div>
    <div data-bind="foreach:Responses">
        <div>
            <span data-bind="text:$data"></span>
        </div>
    </div>
</div>


@section scripts 
{
    @Scripts.Render("~/bundle/Views/Home-Index")    
    <script src="/signalr/hubs"></script>
}